

/*placeholder height*/
#total_score {
    height: auto;
    margin-top: 1.5vh;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 56px;
    text-align: center;

}#total_score_intro {
    margin-top: 1.5vh;
    color: white;
}

#gems {
    margin-top: 1vh;
}

#gem1, #gem2, #gem3, #gem4 {
    margin: 0 .8vw;
}

#wins_losses {
    margin-top: 1vh;
    margin-left: 1vw;
    color: white;
    font-weight: bold;
}

#start_number {
    margin-top: 1vh;
    margin-left: 1vw;
    background-color: #236cb0;
    color: #e6f002;
    font-family: 'Lobster', cursive;
    font-size: 56px;
    text-align: center;
}

#instructions {
    margin-top: 1vh;
    margin-left: 1vw;
    background-color: #442270;
    color: white;
}

body {
    background-image: url("../images/background_blue.jpg");
}

#header {
    background-color: #165969;
    color: white;
    text-align: center;
    margin-left: 1vw;
}

.container {
    width: 70%;
    height: 100%;
}

